Lessen/Lesson_37/Lesson_37/__pycache__/config.cpython-313.pyc
Lessen/Lesson_37/Lesson_37/.DS_Store
Lessen/Lesson_37/.DS_Store
Lessen/Lesson_37/__pycache__/config.cpython-313.pyc
Lessen/parser/.DS_Store
Lessen/parser/__pycache__/config.cpython-312.pyc
Lessen/parser/__pycache__/config.cpython-313.pyc
Lessen/parser/__pycache__/db_old.cpython-312.pyc
Lessen/parser/__pycache__/db.cpython-312.pyc
Lessen/parser/__pycache__/db.cpython-313.pyc
Lessen/parser/__pycache__/script.cpython-312.pyc
Lessen/parser/__pycache__/script.cpython-313.pyc
Lessen/practikum.py
Lessen/practikum.py
